.contentContainer {
  width: 100%;
  background-color: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.gridContainer {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.gridItem {
  width: 420px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.gridItem:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.image {
  width: 300px;
  object-fit: contain;
  pointer-events: none;
}

.subtitle {
  width: 420px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.text {
  width: 420px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

@media screen and (max-width: 930px) {
  .gridContainer {
    width: 600px;
    gap: 10px;
  }

  .gridItem {
    width: 270px;
  }

  .image {
    width: 250px;
    height: 250px;
  }

  .subtitle {
    width: 250px;
    font-size: 18px;
    line-height: 20px;
  }

  .text {
    width: 250px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 630px) {
  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    width: 300px;
    font-size: 36px;
    line-height: 45px;
  }

  .gridContainer {
    width: 300px;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .gridItem {
    width: 300px;
  }

  .image {
    width: 250px;
    height: 250px;
  }

  .subtitle {
    width: 250px;
    font-size: 18px;
    line-height: 20px;
  }

  .text {
    width: 250px;
    font-size: 14px;
    line-height: 18px;
  }
}
